{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="element-wrapper">
    <h6 class="element-header">
        Add Member
    </h6>
    {% if user_created == 'True' %}
                <div aria-hidden="true" class="onboarding-modal modal fade animated show-on-load" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-centered" role="document">
                  <div class="modal-content text-center">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
                    <div>
                      <div class="onboarding-slide">
                        <div class="onboarding-content with-gradient">
                          <h4 class="onboarding-title">
                            User Created
                          </h4>
                          <div class="onboarding-text">
                            New user was Created successfully. 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            {% if user_created == 'False' %}
                <div aria-hidden="true" class="onboarding-modal modal fade animated show-on-load" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-centered" role="document">
                  <div class="modal-content text-center">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
                    <div>
                      <div class="onboarding-slide">
                        <div class="onboarding-content with-gradient">
                          <h4 class="onboarding-title">
                            Error Occured
                          </h4>
                          <div class="onboarding-text">
                            Error Occured while creating a new user. Kindly try again. If error persists, user feedback page to submmit an issue.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="element-wrapper">
                <div class="element-box">
                {% csrf_token %}
                    <form data-toggle="validator">
                        <h5 class="form-header">
                            Form Validation
                        </h5>
                        <div class="form-desc">
                            Add User Details    
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> First Name</label><input name='fname' class="form-control" data-error="Please enter a valid name" placeholder="First Name" required="required" type="text" data-minlength="3" data-maxlength="20">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Last Name</label><input name='lname' class="form-control" data-error="Please enter a valid name" placeholder="Last Name" required="required" type="text" data-minlength="3" data-maxlength="20">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-2">
                                <label for=""> Gender</label>
                                <select name = 'gender' class="form-control" required="required">
                                    <option value="Male">
                                        Male
                                    </option>
                                    <option value="Female">
                                        Female
                                    </option>
                                    <option value="Other">
                                        Other
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label for=""> Date of Birth</label><input name='dob' required="required" class="single-daterange form-control" placeholder="Date of birth" type="text" value="04/12/2019">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for=""> Phone Number</label><input name='number' class="form-control" data-error="Your Phone Number is invalid" placeholder="Enter Number" required="required" type="number" data-minlength="10" data-maxlength="20">
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for=""> Email address</label><input name='email' class="form-control" data-error="Your Email address is invalid" placeholder="Enter email" required="required" type="email">
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                        </div>
                        <div class"row">
                        <div class="form-group">
                                <label> Address</label><textarea name='address' class="form-control" rows="2" required="required" placeholder="Address" data-minlength="6" data-maxlength="255"></textarea>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Profession</label><input name='profession' class="form-control" data-error="Please enter your Profession" placeholder="Profession" required="required" type="text" data-minlength="4" data-maxlength="20">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for=""> Image </label><input name ="image" id="id_image" type="file" class="form-control" name="image" accept="image/x-png,image/gif,image/jpeg">
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-2 username-div">
                                <label for=""> Username </label><input name='username' class="form-control" data-error="Mini length is 4 and Max length is 20" placeholder="Username" required="required" type="text" data-minlength="4" data-maxlength="20">
                                <div class="help-block form-text with-errors form-control-feedback username-validation-msg"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""> Password</label><input name='password' class="form-control" data-minlength="6" placeholder="Password" required="required" type="password">
                                    <div class="help-block form-text text-muted form-control-feedback">
                                        Minimum of 6 characters
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="">Confirm Password</label><input class="form-control" data-match-error="Passwords don&#39;t match" placeholder="Confirm Password" required="required" type="password">
                                    <div class="help-block form-text with-errors form-control-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group col-sm-1">
                            <label for="">Role </label>
                            <select name="role" class="form-control" required="required">
                                <option value="Member">
                                    Member
                                </option>
                                <option value="Trainer">
                                    Trainer
                                </option>
                                <option value="Owner">
                                    Owner
                                </option>
                            </select>
                        </div>

                        <div class="row form-group col-sm-12">
                            <label for="">Classes</label>
                            <select name ='classes' class="form-control select2" multiple required="required">
                            
                            {% for class in gym_classes %}
                                <option value = "{{ class.0 }}">
                                    {{ class.1 }}
                                </option>
                            {% endfor %}
                            </select>
                        </div>
                        
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Security</label><input name='security' class="form-control" data-error="Please enter number value" placeholder="Amount" required="required" type="Number" data-minlength="3" data-maxlength="10">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for=""> Joining Date</label><input name="joiningdate" class="single-daterange form-control" placeholder="Joining Date" type="text" value="04/12/2019">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for=""> Payment Date</label><input name="paymentdate" class="single-daterange form-control" placeholder="Fee Submittion Date" type="text" value="04/12/2019">
                                    </div>
                                </div>
                            </div>
                        <div class="form-buttons-w">
                            <button id='add-member' class="btn btn-primary" type="submit"> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}