{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="element-wrapper">
<div class="row">
    <div class="col-sm-12">
        <div class="element-wrapper">
            <h6 class="element-header">
                {{ user.username}}
            </h6>
            <div class="content-box">
                <div class="row">
                    <div class="col-sm-5 padded">
                        <div class="user-profile compact">
                            <div class="up-head-w" style="background-image:url({{ user.picture.url }})">
                                <div class="up-main-info">
                                    <h2 class="up-header">
                                        {{user.first_name }} {{user.last_name }}
                                    </h2>
                                    <h6 class="up-sub-header">
                                        {% if  user.role == "T"  %}
                                            Trainer
                                        {% elif user.role == "O" %}
                                            Owner
                                        {% else %}
                                            Member
                                        {% endif %}
                                    </h6>
                                </div>
                                <svg class="decor" width="842px" height="219px" viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                                        <path class="decor-path" d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path>
                                    </g>
                                </svg>
                            </div>
                            <div class="up-controls">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="value-pair col-sm-6">
                                            <div class="label">
                                                Fee Submittion:
                                            </div>
                                            {% if user.fee_submitted %}
                                                <span class="status-pill smaller green"></span><span>Submitted</span>
                                            {% else %}
                                                <span class="status-pill smaller yellow"></span><span>Pending</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-sm-6">
                                        <button id='change-fee-status' class="btn btn-primary" type="submit">Change Fee Status</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="up-contents">
                                <div class="m-b">
                                    <div class="row m-b">
                                        <div class="col-sm-6 b-r b-b">
                                            <div class="el-tablo centered padded-v">
                                                <div class="value">
                                                    {{ total_days }}
                                                </div>
                                                <div class="label">
                                                    Total Days
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 b-b">
                                            <div class="el-tablo centered padded-v">
                                                <div class="value">
                                                    {{ attendence }}0
                                                </div>
                                                <div class="label">
                                                    Attendence
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="padded">
                                        <div class="m-b row">
                                            <div class="col-sm-4">
                                                <div class="">
                                                    <div class="label">
                                                    Have Excercise Plan  : <span class="status-pill smaller yellow"></span>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <button id='modify-create-excercise' class="btn btn-primary" type="submit">Create or Modify Excercise Plan</button>
                                            </div>
                                        </div>
                                        <div class="m-b row">
                                            <div class="col-sm-4">
                                                <div class="">
                                                    <div class="label">
                                                    Have Diet Plan  : <span class="status-pill smaller yellow"></span>
                                                    </div> 
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <button id='modify-create-diet' class="btn btn-primary" type="submit">Create or Modify Diet Plan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-sm-7 padded">
                        <div class="element-wrapper">
                            <div class="element-box">
                                <form id="formValidate">
                                    <div class="element-info">
                                        <div class="element-info-with-icon">
                                            <div class="element-info-icon">
                                                <div class="os-icon os-icon-wallet-loaded"></div>
                                            </div>
                                            <div class="element-info-text">
                                                <h5 class="element-inner-header">
                                                    Profile Settings
                                                </h5>
                                                <div class="element-inner-desc">
                                                    Validation of the form is made possible using powerful validator plugin for bootstrap. <a href="http://1000hz.github.io/bootstrap-validator/" target="_blank">Learn more about Bootstrap Validator</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for=""> First Name</label><input name='fname' class="form-control" data-error="Please enter a valid name" value="{{user.first_name }}" required="required" type="text" data-minlength="3" data-maxlength="20">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Last Name</label><input name='lname' class="form-control" data-error="Please enter a valid name" value="{{user.last_name }}" required="required" type="text" data-minlength="3" data-maxlength="20">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for=""> Gender</label>
                                <select name='gender' class="form-control" required="required">
                                    <option value="M" {% if user.gender == 'M' %}selected{% endif %}>
                                        Male
                                    </option>
                                    <option value="F" {% if user.gender == 'F' %}selected{% endif %}>
                                        Female
                                    </option>
                                    <option value="O" {% if user.gender == 'O' %}selected{% endif %}>
                                        Other
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for=""> Date of Birth</label><input name='dob' required="required" class="single-daterange form-control" placeholder="Date of birth" type="text" value="{{ date_of_birth }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for=""> Phone Number</label><input name='number' class="form-control" data-error="Your Phone Number is invalid" value="{{ user.mobile_number }}" required="required" type="number" data-minlength="10" data-maxlength="20">
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for=""> Email address</label><input name='email' class="form-control" data-error="Your Email address is invalid" value="{{ user.email }}" required="required" type="email">
                                <div class="help-block form-text with-errors form-control-feedback"></div>
                            </div>
                        </div>
                        <div class"row">
                        <div class="form-group">
                                <label> Address</label><textarea name='address' class="form-control" rows="2" required="required" data-minlength="6" data-maxlength="255">{{ user.address }}</textarea>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="">Profession</label><input name='profession' class="form-control" data-error="Please enter your Profession" value="{{user.profession}}" required="required" type="text" data-minlength="4" data-maxlength="20">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                        <label for=""> Image </label><input name ="image" id="id_image" type="file" class="form-control" name="image" accept="image/x-png,image/gif,image/jpeg">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                </div>
                        </div>
                        <div class="row">
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 username-div">
                                <label for=""> Username </label><input name='username' disabled class="form-control" data-error="Mini length is 4 and Max length is 20" value="{{user.username}}" required="required" type="text" data-minlength="4" data-maxlength="20">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="">Role </label>
                                <select name="role" class="form-control" required="required">
                                    <option value="M"  {% if user.role == 'M' %}selected{% endif %}>
                                        Member
                                    </option>
                                    <option value="T"  {% if user.role == 'T' %}selected{% endif %}>
                                        Trainer
                                    </option>
                                    <option value="O"  {% if user.role == 'O' %}selected{% endif %}>
                                        Owner
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="row form-group col-sm-12">
                            <label for="">Classes</label>
                            <select name ='classes' class="form-control" multiple required="required" obj="{% for class in user.classes %}{{class}}-{% endfor %}">
                            
                            {% for class in gym_classes %}
                                <option value = "{{ class.0 }}" {% if class.0 in user.classes %}selected{% endif %}>
                                    {{ class.1 }}
                                </option>
                            {% endfor %}
                            </select>
                        </div>
                        
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="">Security</label><input name='security' class="form-control" data-error="Please enter number value" value="{{user.security}}" required="required" type="Number" data-minlength="3" data-maxlength="10">
                                        <div class="help-block form-text with-errors form-control-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for=""> Joining Date</label><input name="joiningdate" class="single-daterange form-control" placeholder="Joining Date" type="text" value="{{date_joined}}">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for=""> Payment Date</label><input name="paymentdate" class="single-daterange form-control" placeholder="Fee Submittion Date" type="text" value="{{payment_date}}">
                                    </div>
                                </div>
                            </div>
                        <div class="form-buttons-w">
                            <button id='update-member' class="btn btn-primary" type="submit"> Submit</button>
                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}