{% extends 'base.html' %}
{% load static %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="content-i">
            <div class="content-box">
                <div class="element-wrapper">
                    <h6 class="element-header">
                        Confirm Delete
                    </h6>
                    <div class="element-box">
                        <h5 class="form-header">
                            Are you sure you want to delete "{{ company.name }}" ?
                        </h5>
                        </br>
                        <div class="element-box-content">
                            <button class="mr-2 mb-2 btn btn-danger" type="submit"> Yes, Delete</button>
                            <a class="mr-2 mb-2 btn btn-success" type="button"
                               href="{% url 'management:list_companies' %}"> Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
