{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="content-i">
        <div class="content-box">
            <div class="element-wrapper">
                <div class="element-box">
                    <form method="post" action="{% url 'management:edit_company' pk=company.pk %}">
                        {% csrf_token %}
                        <div class="steps-w">
                            <div class="step-triggers">
                                <a class="step-trigger active" href="#stepContent1">
                                    Edit Company
                                </a>
                            </div>
                            <div class="step-contents">
                                <div class="step-content active" id="stepContent1">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Name </label>
                                                <input class="form-control" placeholder="Name" id='name' name='name'
                                                       value="{{ company.name }}" type="text">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Address </label>
                                                <input class="form-control" placeholder="Address" name='address'
                                                       value="{{ company.address }}"
                                                       type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for=""> Contact
                                                </label>
                                                <input class="form-control" placeholder="Contact" name='contact'
                                                       value="{{ company.contact }}"
                                                       type="text"/>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            {# Addedd spare column #}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for=""> Company Type </label>
                                        <select class="form-control select2" name='company_type' multiple="true">
                                            {% for t_code, t_name in object.COMPANY_TYPES %}
                                                {% if t_code in company.company_type %}
                                                    <option value='{{ t_code }}'
                                                            selected="true"> {{ t_name }} </option>
                                                {% else %}
                                                    <option value='{{ t_code }}'> {{ t_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-buttons-w text-right">
                                        <button class="btn btn-primary">Submit Form
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}