{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="element-wrapper">
                <h6 class="element-header">
                    Companies List
                </h6>
                <div class="element-box-tp">
                    <!---------------------------
                    START - Table with actions
                    ----------------------------->
                    <div class="table-responsive">
                        <table class="table table-bordered table-lg table-v2 table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Contact
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for company in companies %}
                                <tr>
                                    <td>
                                        {{ company.name }}
                                    </td>
                                    <td>
                                        {{ company.get_company_type_display }}
                                    </td>
                                    <td class="text-right">
                                        {{ company.contact }}
                                    </td>
                                    <td>
                                        {{ company.address }}
                                    </td>
                                    <td class="row-actions">
                                        <a href="{% url 'management:edit_company' pk=company.pk %}">
                                            <i class="os-icon os-icon-ui-49"></i>
                                        </a>
                                        <a href="{% url 'management:view_company' pk=company.pk %}">
                                            <i class="os-icon os-icon-grid-10"></i>
                                        </a>
                                        <a class="danger" href="{% url 'management:delete_company' pk=company.pk %}">
                                            <i class="os-icon os-icon-ui-15"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!--------------------
                    END - Table with actions
                    -------------------->
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
