{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="content-i">
        <div class="content-box">
            <div class="element-wrapper">
                <div class="user-profile">
                    <div class="up-head-w">
                        <div class="up-main-info">
                            <div class="user-avatar-w">
                                <div class="user-avatar">
                                    <img alt="" src="{% static 'images/avatar1.jpg' %}">
                                </div>
                            </div>
                            <h1 class="up-header">
                                {{ company.name }}
                            </h1>
                            <h5 class="up-sub-header">
                                Product Designer at Facebook
                            </h5>
                        </div>
                        <svg class="decor" width="842px" height="219px"
                             viewBox="0 0 842 219" preserveAspectRatio="xMaxYMax meet"
                             version="1.1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g transform="translate(-381.000000, -362.000000)" fill="#FFFFFF">
                                <path class="decor-path"
                                      d="M1223,362 L1223,581 L381,581 C868.912802,575.666667 1149.57947,502.666667 1223,362 Z"></path>
                            </g>
                        </svg>
                    </div>
                    <div class="up-controls">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="value-pair">
                                    <div class="label">
                                        Status:
                                    </div>
                                    <div class="value badge badge-pill badge-success">
                                        Online
                                    </div>
                                </div>
                                <div class="value-pair">
                                    <div class="label">
                                        Member Since:
                                    </div>
                                    <div class="value">
                                        2011
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-right">
                                <a class="btn btn-primary btn-sm" href="">
                                    <i class="os-icon os-icon-link-3"></i>
                                    <span>Add to Friends</span>
                                </a>
                                <a class="btn btn-secondary btn-sm" href="">
                                    <i class="os-icon os-icon-email-forward"></i>
                                    <span>Send Message</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="up-contents">
                        <h5 class="element-header">
                            Profile Statistics
                        </h5>
                        <div class="row m-b">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-sm-6 b-r b-b">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                3814
                                            </div>
                                            <div class="label">
                                                Products Sold
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 b-b b-r">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                47.5K
                                            </div>
                                            <div class="label">
                                                Followers
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 b-r">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                $95
                                            </div>
                                            <div class="label">
                                                Daily Earnings
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 b-r">
                                        <div class="el-tablo centered padded">
                                            <div class="value">
                                                12
                                            </div>
                                            <div class="label">
                                                Products
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="padded">
                                    <div class="element-info-with-icon smaller">
                                        <div class="element-info-icon">
                                            <div class="os-icon os-icon-bar-chart-stats-up"></div>
                                        </div>
                                        <div class="element-info-text">
                                            <h5 class="element-inner-header">
                                                Monthly Revenue
                                            </h5>
                                            <div class="element-inner-desc">
                                                Calculated every month
                                            </div>
                                        </div>
                                    </div>
                                    <div class="el-chart-w">
                                        <canvas height="130" id="liteLineChart" width="300"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="os-tabs-w">
                            <div class="os-tabs-controls">
                                <ul class="nav nav-tabs bigger">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tab_overview">Activity</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tab_sales">Daily Sales</a>
                                    </li>
                                </ul>
                                <ul class="nav nav-pills smaller d-none d-md-flex">
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#">Today</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#">7 Days</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#">14 Days</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#">Last Month</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_overview">
                                    <div class="timed-activities padded">
                                        <div class="timed-activity">
                                            <div class="ta-date">
                                                <span>21st Jan, 2017</span>
                                            </div>
                                            <div class="ta-record-w">
                                                <div class="ta-record">
                                                    <div class="ta-timestamp">
                                                        <strong>11:55</strong> am
                                                    </div>
                                                    <div class="ta-activity">
                                                        Created a post called
                                                        <a href="#"> Register new symbol</a> in Rogue
                                                    </div>
                                                </div>
                                                <div class="ta-record">
                                                    <div class="ta-timestamp">
                                                        <strong>2:34</strong> pm
                                                    </div>
                                                    <div class="ta-activity">
                                                        Commented on story
                                                        <a href="#">How to be a leader</a>
                                                        in
                                                        <a href="#">Financial</a>
                                                        category
                                                    </div>
                                                </div>
                                                <div class="ta-record">
                                                    <div class="ta-timestamp">
                                                        <strong>7:12</strong> pm
                                                    </div>
                                                    <div class="ta-activity">
                                                        Added
                                                        <a href="#">John Silver</a>
                                                        as a friend
                                                    </div>
                                                </div>
                                                <div class="ta-record">
                                                    <div class="ta-timestamp">
                                                        <strong>9:39</strong> pm
                                                    </div>
                                                    <div class="ta-activity">
                                                        Started following user
                                                        <a href="#">Ben Mosley</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timed-activity">
                                            <div class="ta-date">
                                                <span>3rd Feb, 2017</span>
                                            </div>
                                            <div class="ta-record-w">
                                                <div class="ta-record">
                                                    <div class="ta-timestamp">
                                                        <strong>9:32</strong> pm
                                                    </div>
                                                    <div class="ta-activity">
                                                        Added <a href="#">John Silver</a>
                                                        as a friend
                                                    </div>
                                                </div>
                                                <div class="ta-record">
                                                    <div class="ta-timestamp">
                                                        <strong>5:14</strong> pm
                                                    </div>
                                                    <div class="ta-activity">
                                                        Commented on story
                                                        <a href="#">How to be a leader</a>
                                                        in
                                                        <a href="#">Financial</a>
                                                        category
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="timed-activity">
                                            <div class="ta-date">
                                                <span>21st Jan, 2017</span>
                                            </div>
                                            <div class="ta-record-w">
                                                <div class="ta-record">
                                                    <div class="ta-timestamp">
                                                        <strong>11:55</strong> am
                                                    </div>
                                                    <div class="ta-activity">
                                                        Created a post called
                                                        <a href="#">Register new symbol</a>
                                                        in Rogue
                                                    </div>
                                                </div>
                                                <div class="ta-record">
                                                    <div class="ta-timestamp">
                                                        <strong>2:34</strong> pm
                                                    </div>
                                                    <div class="ta-activity">
                                                        Commented on story
                                                        <a href="#"> How to be a leader </a>
                                                        in
                                                        <a href="#">Financial</a>
                                                        category
                                                    </div>
                                                </div>
                                                <div class="ta-record">
                                                    <div class="ta-timestamp">
                                                        <strong>9:39</strong> pm
                                                    </div>
                                                    <div class="ta-activity">
                                                        Started following user
                                                        <a href="#">Ben Mosley</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_sales">
                                    <div class="el-tablo">
                                        <div class="label">
                                            Unique Visitors
                                        </div>
                                        <div class="value">
                                            12,537
                                        </div>
                                    </div>
                                    <div class="el-chart-w">
                                        <canvas height="150px" id="lineChart" width="600px"></canvas>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_conversion"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
