{% load static i18n %}
<!DOCTYPE html>
<html>
    {% block header %}
    {% include 'header.html' %}
    {% endblock %}
    <body class="menu-position-top full-screen">
        <div class="all-wrapper solid-bg-all">
            <div class="layout-w">
                <!--------------------
                    Mobile Menu
                    -------------------->
{#                {% block mobile-menu %}#}
{#                {% include 'mobile-menu.html' %}#}
{#                {% endblock %}#}
                <!--------------------
                    Main Menu
                    -------------------->
                {% block main-menu %}
                {% include 'main-menu.html' %}
                {% endblock %}
                <!--------------------
                    Body
                <-------------------->
                <div class="content-w">
                    <div class="content-i">
                        <div class="content-box">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="display-type"></div>
        </div>
        {% block scripts %}
        {% include 'scripts.html' %}
        {% endblock %}
    </body>
</html>