{% load static %}

<div class="menu-mobile menu-activated-on-click color-scheme-dark">
    <div class="mm-logo-buttons-w">
        <a class="mm-logo" {% url 'management:dashboard' %}>
            <span> Management System </span>
        </a>
        <div class="mm-buttons">
            <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
            </div>
        </div>
    </div>
    <div class="menu-and-user">

        <!---------------------------
         START - Mobile Menu List
        ---------------------------->

        <ul class="main-menu">
            <li>
                <a href="{% url 'management:dashboard' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-layout"></div>
                    </div>
                    <span>Dashboard</span></a>
            </li>
            <li>
                <a href="{% url 'management:dashboard' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-layers"></div>
                    </div>
                    <span>Menu Styles</span>
                </a>
            </li>
            <li>
                <a href="{% url 'management:create_company' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-package"></div>
                    </div>
                    <span> Create Company Profile </span>
                </a>
            </li>
            <li>
                <a href="{% url 'management:list_companies' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-file-text"></div>
                    </div>
                    <span> Companies List </span>
                </a>
            </li>
        </ul>

        <!---------------------------
         END - Mobile Menu Lists
        ---------------------------->

    </div>
</div>
