{% load static i18n %}
<!--------------------
    START - Mobile Menu
-------------------->
<div class="menu-mobile menu-activated-on-click color-scheme-dark">
    <div class="mm-logo-buttons-w">
        <a class="mm-logo" ><img src="{% static 'images/logo.png' %}"><span>GMS</span></a>
        <div class="mm-buttons">
            <div class="content-panel-open">
                <div class="os-icon os-icon-grid-circles"></div>
            </div>
            <div class="mobile-menu-trigger">
                <div class="os-icon os-icon-hamburger-menu-1"></div>
            </div>
        </div>
    </div>
    <div class="menu-and-user">
        <div class="logged-user-w">
            <div class="avatar-w">
                <img alt="" src="{{ request_user.picture.url}}">
            </div>
            <div class="logged-user-info-w">
                <div class="logged-user-name">
                    {{request_user.first_name}}
                </div>
                <div class="logged-user-role">
                    {% if  request_user.role == "T"  %}
                                            Trainer
                                        {% elif request_user.role == "O" %}
                                            Owner
                                        {% else %}
                                            Member
                                        {% endif %}
                </div>
            </div>
        </div>
        <ul class="main-menu">
            <li>
                <a href="{% url 'dashboard:home' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-layout"></div>
                    </div>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'members:list-members' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-users"></div>
                    </div>
                    <span>Members</span>
                </a>
            </li>
            <li>
                <a href="{% url 'members:add-member' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-user-plus"></div>
                    </div>
                    <span>Create New Member</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard:attendence' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-check-circle"></div>
                    </div>
                    <span>Attendence</span>
                </a>
            </li>
            <li>
                <a href="{% url 'gms:packages' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-package"></div>
                    </div>
                    <span>Packages</span>
                </a>
            </li>
            <li>
                <a href="{% url 'gms:competition' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-layers"></div>
                    </div>
                    <span>Competition</span>
                </a>
            </li>
            <li>
                <a href="{% url 'gms:feedback' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-edit-32"></div>
                    </div>
                    <span>Feedback</span>
                </a>
            </li>
            <li>
                <a href="{% url 'gms:about' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-grid"></div>
                    </div>
                    <span>About GMS</span>
                </a>
            </li>
            <li>
                <a href="{% url 'gms:contact' %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-mail"></div>
                    </div>
                    <span>Contact</span>
                </a>
            </li>
            <li>
                <a href="{% url 'members:view-member' request_user.username %}">
                    <div class="icon-w">
                        <div class="os-icon os-icon-user-male-circle2"></div>
                    </div>
                    <span>Profile Details</span>
                </a>
            </li>
            <li>
                <a href="/change-password">
                    <div class="icon-w">
                        <div class="os-icon os-icon-settings"></div>
                    </div>
                    <span>Change Password</span>
                </a>
            </li>
            <li>
                <a href="/accounts/logout">
                    <div class="icon-w">
                        <div class="os-icon os-icon-signs-11"></div>
                    </div>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--------------------
    END - Mobile Menu
-------------------->