<ul class="main-menu">
    <li class="has-sub-menu">
        <a {% url 'management:dashboard' %}>
            <div class="icon-w">
                <div class="os-icon os-icon-layout"></div>
            </div>
            <span>Dashboard</span></a>
    </li>
    <li class="has-sub-menu">
        <a {% url 'management:dashboard' %}>
            <div class="icon-w">
                <div class="os-icon os-icon-layers"></div>
            </div>
            <span>Menu Styles</span>
        </a>
    </li>
    <li class="has-sub-menu">
        <a {% url 'management:dashboard' %}>
            <div class="icon-w">
                <div class="os-icon os-icon-package"></div>
            </div>
            <span>Applications</span>
        </a>
    </li>
    <li class="has-sub-menu">
        <a href="#">
            <div class="icon-w">
                <div class="os-icon os-icon-file-text"></div>
            </div>
            <span>Pages</span>
        </a>
    </li>
    <li class="has-sub-menu">
        <a href="#">
            <div class="icon-w">
                <div class="os-icon os-icon-life-buoy"></div>
            </div>
            <span>UI Kit</span>
        </a>
    </li>
</ul>