{% load static %}

<div class="col-sm-8 col-xxxl-6">
    <div class="element-wrapper">
        <h6 class="element-header">
            New Orders
        </h6>
        <div class="element-box">
            <div class="table-responsive">
                <table class="table table-lightborder">
                    <thead>
                    <tr>
                        <th>
                            Customer
                        </th>
                        <th>
                            Products
                        </th>
                        <th class="text-center">
                            Status
                        </th>
                        <th class="text-right">
                            Total
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="nowrap">
                            John Mayers
                        </td>
                        <td>
                            <div class="cell-image-list">
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio9.jpg' %})"></div>
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio2.jpg' %})"></div>
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio12.jpg' %})"></div>
                                <div class="cell-img-more">
                                    + 5 more
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="status-pill green" data-title="Complete"
                                 data-toggle="tooltip"></div>
                        </td>
                        <td class="text-right">
                            $354
                        </td>
                    </tr>
                    <tr>
                        <td class="nowrap">
                            Kelly Brans
                        </td>
                        <td>
                            <div class="cell-image-list">
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio14.jpg' %})"></div>
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio8.jpg' %})"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="status-pill red" data-title="Cancelled"
                                 data-toggle="tooltip"></div>
                        </td>
                        <td class="text-right">
                            $94
                        </td>
                    </tr>
                    <tr>
                        <td class="nowrap">
                            Tim Howard
                        </td>
                        <td>
                            <div class="cell-image-list">
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio16.jpg' %})"></div>
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio14.jpg' %})"></div>
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio5.jpg' %})"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="status-pill green" data-title="Complete"
                                 data-toggle="tooltip"></div>
                        </td>
                        <td class="text-right">
                            $156
                        </td>
                    </tr>
                    <tr>
                        <td class="nowrap">
                            Joe Trulli
                        </td>
                        <td>
                            <div class="cell-image-list">
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio1.jpg' %})"></div>
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio5.jpg' %})"></div>
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio6.jpg' %})"></div>
                                <div class="cell-img-more">
                                    + 2 more
                                </div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="status-pill yellow" data-title="Pending"
                                 data-toggle="tooltip"></div>
                        </td>
                        <td class="text-right">
                            $1,120
                        </td>
                    </tr>
                    <tr>
                        <td class="nowrap">
                            Jerry Lingard
                        </td>
                        <td>
                            <div class="cell-image-list">
                                <div class="cell-img"
                                     style="background-image: url({% static 'images/portfolio9.jpg' %})"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <div class="status-pill green" data-title="Complete"
                                 data-toggle="tooltip"></div>
                        </td>
                        <td class="text-right">
                            $856
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>