{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="element-wrapper">
    <h6 class="element-header">
        About GMS
    </h6>
    <div class="element-box">
        <h5 class="form-header">
            Story of GMS <span class="badge badge-danger">New</span>
        </h5>
        <div class="form-desc">
            GMS team loves to workout and stay in shape. We use to workout in different gyms and all those
            gym instructors and owners had a request that they lack a professional gym management software
            This was created on their request. We have set a simple silver package for normal usage which will
            be easy for every gym owner to buy and setup.
        </div>
        <h5 class="form-header">
            GMS Team <span class="badge badge-danger">New</span>
        </h5>
        <div class="form-desc">
            GMS team consists of a group of professional developers, Who are ready to help you with any thing.
            We live to develop solutions which help people make their lifes easy. We sincerely hope that this
            solution can make the gym management much more easier for you. You can send us feedback using the
            feedback tab. We will love to hear from you.
        </div>
        <h5 class="form-header">
            New Features <span class="badge badge-danger">New</span>
        </h5>
        <div class="form-desc">
            This section will include the details of the new features on which GMS Team is working on. they
            might take some time to get online but they will be there. Basic features will be free of cost and
            will be a part of basic silver package subscription, Will the features related to Gold and platinum
            subscription will be only accessable to Gold and platinum subscribers.
        </div>
    </div>
</div>
{% endblock %}