{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="element-wrapper">
    <h6 class="element-header">
        Contact Us
    </h6>
    <div class="element-box">
        <h5 class="form-header">
            Sales Manager <span class="badge badge-danger">New</span>
        </h5>
        <div class="form-desc">
            
            Name = Muhammad Ahmed Suhail
            <br>
            Number = +923034093184
            <br>
            Number2 = +923110407357
            <br>
            You can contact the sales manger if you have any query related to sales and want to purchase
            any package.
        </div>
        <h5 class="form-header">
            Marketing Manager <span class="badge badge-danger">New</span>
        </h5>
        <div class="form-desc">
            Name = Faisal Mahmood
            <br>
            Number = +923336150066
            <br>
            You can contact the Marketing Manager if you are facing any issues related to package 
            subscriptions.
        </div>
        <h5 class="form-header">
            Tech Manager <span class="badge badge-danger">New</span>
        </h5>
        <div class="form-desc">
            Name = Muhammad Ayub khan
            <br>
            Number = +923137674720
            <br>
            You can contact the technical lead if you want to report any technical issues.
        </div>
    </div>
</div>
{% endblock %}