{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="element-wrapper">
    <h6 class="element-header">
        Give GMS Feedback
    </h6>
    <div class="row">
        <div class="col-sm-12">
            <div class="element-wrapper">
            {% if feedback_submission_alert %}
                <div aria-hidden="true" class="onboarding-modal modal fade animated show-on-load" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-centered" role="document">
                  <div class="modal-content text-center">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
                    <div>
                      <div class="onboarding-slide">
                        <div class="onboarding-content with-gradient">
                          <h4 class="onboarding-title">
                            Feedback Submitted
                          </h4>
                          <div class="onboarding-text">
                            You feedback was submitted. Thanks a lot for the feedback, much appreciated. We will checkout the feedback and modify the site/process if its doable.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
                <div class="element-box">
                    <form class="formValidate feedback" method="POST" action="{% url 'gms:feedback' %}">
                        {% csrf_token %}
                        <h5 class="form-header">
                            Feedback Form
                        </h5>
                        <div class="form-desc">
                            This form can be used to report the issues, contact support and request features.    
                        </div>
                        <div class="form-group">
                          <label for="">Type</label>
                          <select class="form-control" name="type" placeholder="Select Feedback Type" id="type">
                            <option>
                              Genral Feedback
                            </option>
                            <option>
                              Report Issue
                            </option>
                            <option>
                              Support Message
                            </option>
                            <option>
                              Feature Request
                            </option>
                          </select>
                        </div>
                            <div class="form-group">
                                <label> Feedback Box </label>
                                <textarea class="form-control" name="feedback" id="feedback" rows="5" required="required" minlength="50" maxlength="1000" placeholder="Write Feedback Here! (Minimum 50 alphabits)"></textarea>
                            </div>
                        <div class="form-buttons-w">
                            <button class="btn btn-primary" type="submit"> Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}