{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="element-wrapper">
    <h6 class="element-header">
        Attendence
    </h6>
    <div class="card d-flex justify-content-center text-center">
        <form class="attendence" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Membership Id</label>
                <input name="login" required_id="id_attendence" class="form-control" placeholder="Membership Id" type="text">
            </div>
            <div class="buttons-w">
                <button class="primaryAction btn btn-primary" type="submit">Mark Attendence</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}